Reset CSS * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 500px;
    width: 300px;
    margin: auto;
    font-style: normal;
    padding-top: 20px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
    height: 500px;
    width: 300px;
    margin: auto;
    font-style: normal;
    padding-top: 20px;
    background-color: white;


  }
  .img1 {
    width: 100px;
  }
  .img2 {
    width: 26%;
    height: 5%;
    margin-top: 10px;
  }
  .container {
    box-shadow: 0px 0px 5px 1px #ccc;

  }
  
  .header {
    padding: 10px;
    border-bottom: 2px dashed #000000;
    display: flex;
    justify-content: space-between;
  }
  .header2 {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .textheader1 {
    font-size: 14.5px;
    text-transform: uppercase;
    margin-top: 1px;
    font-weight: bolder;
  }
  .textheader2 {
    font-weight: normal;
    font-size: 12px;
    margin: 8px;
  }
  .imgQR {
    width: 80px;
    margin: 0;
    padding: 0;
  }
  
  .header img {
    justify-content: space-between;
    margin-left: 9px;
    margin-right: 8px;
  }
  
  .header h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .main {
    padding: 3px;
  }
  
  .huong-dan-su-dung {
    margin-top: 4px;
    font-size: 13px;
  }
  